.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #83CC6D;
  text-align: center;
  margin-bottom: 3vmin;
}
.presenter {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 100vw;
  margin-top: 20px;
}
.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.center-waiting {
  display: flex;
  justify-content: center;
  margin-top:30vmin;
  flex-direction: column;
}
.normal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #83CC6D;
  text-align: center;
}
.zoom {
  margin-top: 5vmin;
  zoom: 200%;
  margin-bottom: 0;
}
.login {
  display: flex;
  justify-content: center;
  margin: 5vmin;
}
.button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 6vmin;
  /*padding: 3px 7px;*/
  background-color: #83CC6D;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border: 2px;
  border-radius: 5px;
}
.button:hover {
  background-color: #A1FB86;
  border: 0;
}
.button:selected {
  border: 0;
}
.button:visited {
  border: 0;
}
.answerButtons {

  text-align: center;
  justify-content: center;
  align-items: center;
  height: 30vmin;
  width: 30vmin;
  background-color: #83CC6D;
  border: none;
  margin: 5px;
  font-size: 1.75rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.answerButtons:hover {
  background-color: #A1FB86;
}
.answerButtons:active {
  /*font-size: 125%;*/
  border: 5px solid #83CC6D
}
.answer-container {
  display: flex;
  justify-content: center;
  margin-top: 10vmin 10vmin 0vmin 10vmin;
  flex-wrap:wrap;
}
.room {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 600;
  color: #83CC6D;
  font-family: Arial, Helvetica, sans-serif;
}
.codeInput {
  display: flex;
  background-color: #ffffff;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: #83CC6D;
  width: 20vw;
  height: 5.5vmin;
  margin-right: 10px;
  border: 2px solid #83CC6D;
  border-radius: 5px;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .button, .questionButtons, .answerButtons, .codeInput {
    font-size: 1rem;
  }
}

.chart {
  margin-top: 15px;
}
.chart text {
  /*fill: #83CC6D;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #000000;
  font-weight: 600;
}

.loading {
  width: 120px;
  height: 120px;
}

.invalid {
  color: #ff6666;
}

.q-header {
  font-size: 2.5rem;
  /*padding: 0px;*/
  /*margin:0px;*/
}
.questions {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-bottom: 10vmin;
}
.questions-container {
  display: flex;
  flex-direction: row;
}
.to-ask {
  display:flex;
  flex-direction: column;
  flex: 4;
  margin-left: 10vmin;
  margin-right: 10vmin;
}
.questionButtons {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  /*height: 7vmin;*/
  padding: 3vmin;
  background-color: #83CC6D;
  margin: 7px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}
.questionButtons:hover {
  background-color: #A1FB86;
}
.questionButtons:active {
    font-size: 115%;
}
.q-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #83CC6D;
  text-align: center;
  margin-bottom: 2vmin;
}
.askedColors {
  background-color: #a9a9a9;
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  /*height: 7vmin;*/
  padding: 3vmin;
  border: none;
  margin: 7px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.askedColors:hover {
  background-color: #a9a9a9;
}
.buttonColors:nth-child(4n) {
  background-color: #ffd380;
}
.buttonColors:nth-child(4n + 1) {
  background-color: #ffb1b1;
}
.buttonColors:nth-child(4n + 2) {
  background-color: #71b2fb;
}
.buttonColors:nth-child(4n + 3) {
  background-color: #b195c6;
}
.black {
  font-size: 1.8rem;
  margin-bottom: 2vmin;
  color: #a9a9a9;
  /*text-shadow: 1px 1px #000000;*/
}

.free-response {
  display: flex;
  background-color: #ffffff;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: #83CC6D;
  width: 50vw;
  height: 5.5vmin;
  margin-right: 10px;
  border: 2px solid #83CC6D;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 3vmin;
}
.response {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #83CC6D;
}
.viewPpt {
  display: flex;
  flex-basis: 80vw;
  width: 80vw;
  flex-direction: column;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  padding: 1px 1px 1px 1px;
  margin: 3vmin 10vmin 3vmin 10vmin;
  border-radius: 5px;
  text-decoration: none;
  justify-content: space-between;
  /*align-items: center;*/
  -vendor-animation-duration: 0.5s;
}
.viewPpt:hover {
  background-color: #a9a9a9;
}
.title {
  display: flex;
  margin: 1rem 1rem 0rem 1rem;
  /*margin-right: 5vmin;*/
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
  justify-content:center;
  border-right: thick #ffffff;
}
.action {
  display: flex;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
  text-decoration: none;
  cursor: pointer;
  margin-right: 1vmin;
  border-left: thick #ffffff;
  justify-content: flex-end;
  align-content: flex-end;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideIn:nth-child(2n) {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
.slideIn:nth-child(2n+1) {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
.response-container{
  overflow:auto;
}
.response-body {
  height: 60vmin;
  /*position: fixed;*/
  overflow-x: hidden;
  overflow-y: auto;
}
.current-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-answer {
  margin-top:2vmin;
  border: 2px solid #ffffff;
}
.chart-display {
  display: flex;
  flex-direction: column;
}
.answerbox {
  display: flex;
  width: 40vw;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #cccfd1;
  border: none;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0px 9px 5vmin 9px;
  border-radius: 5px;
  flex-flow: row wrap;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
    -webkit-transition: 200ms;
  transition: 200ms;
}
.white {
  display: flex;
  width: 38vw;
  justify-content: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  margin: 2vmin 5vmin 2vmin 5vmin;
}
.answersColors {
  fill: #ffffff;
}
.answerbox {
  display: flex;
  width: 40vw;
  justify-content: center;
  background-color: #83CC6D;
  border: none;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  flex-flow: row wrap;
  box-shadow: 5px 5px 5px 0 rgba(230,230,230,2);
  -webkit-transition: 200ms;
  transition: 200ms;
}
.correct-answer {
}
.correct {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #83CC6D;
  text-align: center;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.modal.modal-background {
  background-color: white;
}

.modal-dialog {
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

form {
  height: 100%;
  width: 90%;
}

.participants {
  border-radius: 2100%;
  background-color: #83CC6D;
  height: 9vmin;
  width: 9vmin;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -3vmin;
}

.presenter-header {
  border-radius: 200px;
  background-color: #83CC6D;
  height: 32vmin;
  width: 32vmin;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-wrap: wrap;
  padding: 1vmin 2vmin 2vmin 2vmin;
  margin-top: -5vmin;
  margin-bottom: -5vmin;
}
@media screen and (max-width: 700px) {
  .questions {
    width: 96vw;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  .to-ask {
    flex: 1;
    margin-left: 1vmin;
    margin-right: 1vmin;
  }
  .presenter-header {
    font-size: 1rem !important;
    padding: 0vmin 1vmin 2vmin 1vmin;
  }
}