
/*
----------------------------------------
Sprite Sheet
----------------------------------------
*/
span.question {
  background-image: url(/images/sprites.png);
  background-position: -1px -50px;
}

span.aud {
  background-image: url(/images/sprites.png);
  background-position: 1px 1px;
}

.like {
  background-image: url(/images/sprites.png);
  background-position: 40px -10px;
}

/*
----------------------------------------
Modal Bubble Icons
----------------------------------------
*/
ul.dots {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  -webkit-padding-start: 0px;
}

ul.dots a {
  text-decoration: none;
  font-size: 20px;
}

ul.dots a:hover {
  text-decoration: none;
  font-size: 20px;
  color: grey;
}

ul.dots li {
  margin-left: 5vw;
  margin-right: 5.5vw;
  position: relative;
}

ul.dots li span {
  display: block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #98de82;
  padding: 10px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  position: relative;
}

ul.dots li mark {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #FFF;
  width: 20px;
  height: 20px;
  background-color: #FF6B6B;
  position: absolute;
  top: -5px;
  left: -5px;
  font-size: 15px;
  line-height: 20px;
  font-family: sans-serif;
  color: #FFF;
  font-weight: 500;
}

.modal-list {
  margin-top: 40vmin;
}

/*
----------------------------------------
Modal Pop-up
----------------------------------------
*/

.modal {
  display: flex;
  position: absolute;
  left: 50vw;
  transform: translate(-50%, -100%);
  width: 90vw;
  z-index: 1010;

  background-color: #FFF;
  border-radius: 10px;

  justify-content: flex-end;
}

.modal-guts {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 90%;
  overflow: auto;
}

.modal-overlay {
  z-index: 1000;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150vmin;

  background-color: #615e5e;
  opacity: 0.6;
}

.modal.modal-closed {
  display: none;
}

.modal-overlay.modal-closed {
  display: none;
}

.modal-button {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  transform: translate(30%, -30%);
  z-index: 1020;

  background-color: #98de82;
  color: #FFF;

  text-align: center;
  font-size: 16px;
  line-height: 27px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #83CC6D;
  text-align: center;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.5em;
}

.modal-form-group {
  display: flex;
}

.modal-form-group button {
  height: 6vmin;
  background-color: #83CC6D;
  border: none;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border: 2px;
  border-radius: 5px;
}

.modal-form-group input {
  flex-grow: 2;
}

.modal-ul {
  display: flex;
  flex-direction: column;
  width: 95%;
  -webkit-margin-before: 0vmin;
  -webkit-margin-after: 0vmin;
  -webkit-padding-start: 5vw;

  list-style-type: none;
}

.modal-ul li {
  width: 93%;
  border-bottom: 1px solid #b3acac;
}

li:last-child {
  border-bottom: 0px;
}

.audq {
  display: flex;
  justify-content: center;
  width: 100%;
}

.audq-likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #4eabca;
  font-weight: bold;
  text-align: center;
}

.audq-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #83CC6D;
  -webkit-margin-after: 0.5em;
  -webkit-margin-before: 0.5em;
  flex-grow: 500;
  width: 0%;
  word-wrap: break-word;
}

.audq-social {
  width: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audq-social span {
  display: flex;
  width: 25px;
  height: 33px;
}

/*
----------------------------------------
Modal Specific CSS
----------------------------------------
*/
.modal.modal-question {
  height: 17vmin;
  /*top: 125vmin;*/
}

.modal.modal-aud {
  height: 60vmin;
  /*top: 110vmin;*/
}

.modal-guts.modal-aud {
  margin-top: 3.5%;
}
