.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #83CC6D;
  text-align: center;
}
.presenter {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 100vw;
  margin-top: 20px;
}
.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.center-waiting {
  display: flex;
  justify-content: center;
  margin-top:30vmin;
  flex-direction: column;
}
.normal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #83CC6D;
    text-align: center;
}
.zoom {
  margin: 5vmin;
  zoom: 200%;
}
.login {
  display: flex;
  justify-content: center;
  margin: 5vmin;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vmin;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #83CC6D;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover {
  background-color: #A1FB86;
}
.answerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vmin;
  width: 30vmin;
  background-color: #83CC6D;
  border: none;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.answerButtons:hover {
  background-color: #A1FB86;
}
.answerButtons:active {
  font-size: 125%;
  /*border-radius: 100px;*/
}
.answer-container {
  display: flex;
  justify-content: center;
  margin-top:10vmin;
  margin-left: 10vmin;
  margin-right: 10vmin;
  flex-wrap:wrap;

}
.room {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 600;
  color: #83CC6D;
  font-family: Arial, Helvetica, sans-serif;
}
.codeInput {
  display: flex;
  background-color: #ffffff;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: #83CC6D;
  width: 15vw;
  height: 6vmin;
  padding: 3px 7px;
  margin-right: 10px;
  border: 2px solid #83CC6D;
  border-radius: 5px;
}
@media screen and (max-width: 700px) {
  .button, .questionButtons, .answerButtons, .codeInput {
    font-size: 1rem;
  }
}
.chart rect {
  fill: #83CC6D;
}
.chart text {
  fill: #83CC6D;
  /*font: 10px sans-serif;*/
  /*text-anchor: end;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #83CC6D;
}
.loading {
  width: 120px;
  height: 120px;
}

.invalid {
  color: #ff6666;
}

.q-header {
  font-size: 2.5rem;
  /*padding: 0px;*/
  /*margin:0px;*/
}
.questions {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.questions-container {
  display: flex;
  flex-direction: row;
}
.question-container {
  display: flex;
  flex-direction: column;
  margin-left: 20vmin;
  margin-right: 20vmin;
}
.to-ask {
  display:flex;
  flex-direction: column;
  flex: 4;
  margin-left: 10vmin;
  margin-right: 10vmin;
}
.questionButtons {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  /*height: 7vmin;*/
  padding: 3vmin;
  background-color: #83CC6D;
  border: none;
  margin: 7px;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.questionButtons:hover {
  background-color: #A1FB86;
}
.questionButtons:active {
    font-size: 115%;
}
